{% extends "base.html" %}
{% load staticfiles %}
{% block styles %}
    {{ block.super }}
    <link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css">
{% endblock styles %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>The Kabbage was taken,</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>...and we can't be bothered to look for it.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-primary search-panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Find the Kabbage</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="well search-well">
                                        <div class="form-group">
                                            <label class="control-label">I'll check</label>
                                            <span id="source-input">
                                                <button class="btn btn-xs">Twitter</button>,
                                                <button class="btn btn-xs">Wikipedia</button>,
                                                <span>or</span>
                                                <button class="btn btn-xs">Both</button>
                                            </span>
                                            <span></span>
                                            <label class="control-label">, because I know that the Kabbage is...</label>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="where could it be?">
                                                <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>&nbsp;Start Foraging</button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% include "search/results.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}